#
# Settings file for TPM Password Extraction.
#
# @author tblong
# @version 2016-09-18
# @license MIT
#

#############################
# General Settings
#############################
general = {
    # Name for the json file containing all passwords
    'password_file': 'tpm_passwords.json'
}

#############################
# TPM API settings
#############################
tpm_api = {
    # URL for getting the number of pages of passwords
    'passwords_count': 'https://company.com/index.php/api/v4/passwords/count.json',
    # URL for each page of passwords
    'passwords_page': 'https://company.com/index.php/api/v4/passwords/page/',  # add page + .json
    # URL for each password
    'password_page': 'https://company.com/index.php/api/v4/passwords/',  # add id + .json

    # authentication header
    'header': {
        'authorization': "Basic SomeBase64String",  # user:pass in base64 encoding
        'content-type': "application/json;charset=utf-8",
        'cache-control': "no-cache"
    }
}

#############################
# AWS Connection settings
#############################
connection = {
    'aws_access_key': 'AWS Access Key',
    'aws_secret_key': 'AWS Secret Key',
    'region_name': 'us-east-1'
}

#############################
# AWS S3 settings
#############################
s3 = {
    # Base S3 bucket to store passwords
    'bucket_name': 'bucket-name',
    # where to put the json password file under the given bucket
    'key_prefix': 'backups/passwords/'
}
